Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Config/DefaultEditor.ini
Config/DefaultEditor.ini
Config/DefaultEditor.ini
Config/DefaultEditor.ini
Content/Sounds/Music/desktop.ini
*.blend1
Models/man.blend1